*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
  background-image: radial-gradient(circle, #ffffff, #814043); ;
}

#root {
  padding: 1.6rem 3.5rem;
  display: grid;
  grid-template-rows: 100px auto auto ;
  grid-gap:10px;
  min-height: 100vh;
  max-width: 100vw;
}

.header {
  background: rgb(112, 8, 8);
  padding: 2em;  
  text-align: center;
  width: 100%;
}

.header__title {
  text-transform: uppercase;
  color: aliceblue;
  font-size: 1.5rem;
}
